<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alexsci.android.lambdarunner">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- for QR scanner -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"
        />

    <application
        android:allowBackup="false"
        android:label="AWS Lambda Invoker"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        >

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode"
            />

        <activity
            android:name=".ui.list_keys.ListKeysActivity"
            android:label="AWS Lambda Invoker"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.add_key.AddKeyActivity"
            android:label="Add AWS Credential"
            android:parentActivityName=".ui.list_keys.ListKeysActivity"
            />

        <activity
            android:name=".ui.list_functions.ListFunctionsActivity"
            android:parentActivityName=".ui.list_keys.ListKeysActivity"
            android:label="Select a Function"
            />

        <activity
            android:name=".ui.run_lambda.RunLambdaActivity"
            android:label="Function Runner"
            android:parentActivityName=".ui.list_functions.ListFunctionsActivity"
            >
        </activity>

        <activity
            android:name=".ui.edit_json.EditJsonObjectActivity"
            android:label="Edit JSON"
            android:parentActivityName=".ui.list_functions.ListFunctionsActivity">
        </activity>

        <activity
            android:name=".ui.view_results.ViewResultsActivity"
            android:label="View Result"
            android:parentActivityName=".ui.run_lambda.RunLambdaActivity"
            />

        <!--
        <activity
            android:name=".ui.edit_json.EditJsonActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/json" />
            </intent-filter>
        </activity>
        -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>